/* Grid */
.row {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

/* Card */
.card {
	width: 100px;
	height: 40px;
	border: 1px solid var(--accent);
	border-radius: 10px;
	box-shadow: 0 0 10px var(--accent);

	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 5px;
}

.value {
	font-size: 16px;

	span {
		color: var(--accent);
	}
}

.icon {
	height: 22.5px;
	width: auto;
}
